@import '../assets/styles/globals.css';
@import 'tailwindcss';

@layer base {
  * {
    @apply border-border font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  h1,
  .h1 {
    @apply text-5xl font-normal @md:text-6xl;
  }
  h2,
  .h2 {
    @apply text-4xl font-normal @md:text-5xl;
  }
  h3,
  .h3 {
    @apply text-3xl font-normal @md:text-4xl;
  }
  h4,
  .h4 {
    @apply text-2xl font-normal @md:text-3xl;
  }
  h5,
  .h5 {
    @apply text-xl font-normal @md:text-2xl;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@config '../assets/tailwind.config.cjs';

@utility text-box-trim-start {
  text-box-trim: trim-start;
}
@utility text-box-trim-end {
  text-box-trim: trim-end;
}
@utility text-box-trim-both {
  text-box-trim: trim-both;
}
@utility text-box-edge-asc-desc {
  text-box-edge: text text;
}
@utility text-box-edge-asc-baseline {
  text-box-edge: text alphabetic;
}
@utility text-box-edge-cap-baseline {
  text-box-edge: cap alphabetic;
}
@utility position-left {
  @apply text-start;
}
@utility position-center {
  @apply text-center;
}
@utility position-right {
  @apply text-end;
}
@utility indent-top {
  @apply mt-8 @md:mt-16;
}
@utility indent-bottom {
  @apply mb-8 @md:mb-16;
}
@utility indent {
  @apply px-8 @md:px-16;
}
