@theme {
  --blur-none: 0;
  --blur-sm: 0.25rem;
  --blur-default: 0.5rem;
  --blur-md: 0.75rem;
  --blur-lg: 1rem;
  --blur-xl: 1.5rem;
  --blur-2xl: 2.5rem;
  --blur-3xl: 4rem;
  --border-radius-none: 0;
  --border-radius-sm: 0.125rem;
  --border-radius-default: 0.125rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-2xl: 1rem;
  --border-radius-3xl: 1.5rem;
  --border-radius-full: 624.9375rem;
  --border-width-0: 0;
  --border-width-1: 0.0625rem;
  --border-width-2: 0.125rem;
  --border-width-4: 0.25rem;
  --border-width-8: 0.5rem;
  --color-background: hsl(0, 0%, 0%);
  --color-foreground: hsl(0, 0%, 100%);
  --color-card: hsl(0, 0%, 100%);
  --color-card-foreground: hsl(0, 0%, 9%);
  --color-popover: hsl(0, 0%, 100%);
  --color-popover-foreground: hsl(0, 0%, 9%);
  --color-primary: hsl(206, 100%, 36%);
  --color-primary-foreground: #ffffff;
  --color-primary-hover: hsl(226, 71%, 40%);
  --color-secondary: hsl(0, 0%, 15%);
  --color-secondary-foreground: hsl(0, 0%, 100%);
  --color-secondary-hover: hsl(0, 0%, 96% / 0.7);
  --color-muted: hsl(0, 0%, 96%);
  --color-muted-foreground: hsl(0, 0%, 64%);
  --color-accent: hsl(221, 100%, 50%);
  --color-accent-foreground: hsl(214, 100%, 97%);
  --color-destructive: hsl(0, 72%, 51%);
  --color-destructive-hover: hsl(0, 74%, 42%);
  --color-destructive-foreground: hsl(0, 0%, 100%);
  --color-border: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 83%);
  --color-ring: hsl(221, 100%, 50%);
  --color-tertiary-foreground: hsl(0, 0%, 32%);
  --color-tertiary-hover: hsl(0, 0%, 96% / 0.7);
  --color-tertiary: hsl(0, 0%, 100%);
  --color-dark-foreground: hsl(0, 0%, 32%);
  --color-dark-hover: hsl(0, 0%, 96% / 0.7);
  --color-dark: hsl(0, 0%, 96%);
  --color-light: hsl(0, 0%, 96%);
  --color-light-hover: hsl(0, 0%, 96% / 0.7);
  --color-light-foreground: hsl(0, 0%, 32%);
  --color-overlay: hsl(0, 0%, 9% / 0.8);
  --disabled: [object Object];
  --figma-automations-logo: Brand C;
  --figma-automations-hero: Hero 3;
  --figma-automations-navigation: Style 3;
  --figma-automations-multipromo: Multi 3;
  --font-family-heading: Sora;
  --font-family-body: Roboto;
  --font-family-accent: IBM Plex Mono;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;
  --font-size-6xl: 60px;
  --font-size-7xl: 72px;
  --font-size-8xl: 96px;
  --font-size-9xl: 128px;
  --font-style-italic: italic;
  --font-style-not-italic: normal;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --height-0: 0;
  --height-1: 0.25rem;
  --height-2: 0.5rem;
  --height-3: 0.75rem;
  --height-4: 1rem;
  --height-5: 1.25rem;
  --height-6: 1.5rem;
  --height-7: 1.75rem;
  --height-8: 2rem;
  --height-9: 2.25rem;
  --height-10: 2.5rem;
  --height-11: 2.75rem;
  --height-12: 3rem;
  --height-14: 3.5rem;
  --height-16: 4rem;
  --height-20: 5rem;
  --height-24: 6rem;
  --height-28: 7rem;
  --height-32: 8rem;
  --height-36: 9rem;
  --height-40: 10rem;
  --height-44: 11rem;
  --height-48: 12rem;
  --height-52: 13rem;
  --height-56: 14rem;
  --height-60: 15rem;
  --height-64: 16rem;
  --height-72: 18rem;
  --height-80: 20rem;
  --height-96: 24rem;
  --height-0-5: 0.125rem;
  --height-1-5: 0.375rem;
  --height-2-5: 0.625rem;
  --height-3-5: 0.875rem;
  --height-px: 0.0625rem;
  --letter-spacing-tighter: -0.05rem;
  --letter-spacing-tight: -0.025rem;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.025rem;
  --letter-spacing-wider: 0.05rem;
  --letter-spacing-widest: 0.1rem;
  --line-height-3: 0.75rem;
  --line-height-4: 1rem;
  --line-height-5: 1.25rem;
  --line-height-6: 1.5rem;
  --line-height-7: 1.75rem;
  --line-height-8: 2rem;
  --line-height-9: 2.25rem;
  --line-height-10: 2.5rem;
  --line-height-none: 1;
  --margin-mt-1-5: 0.375rem;
  --margin-mt-4: 1rem;
  --max-width-0: 0;
  --max-width-xs: 20rem;
  --max-width-screen-xs: 0;
  --max-width-sm: 24rem;
  --max-width-md: 28rem;
  --max-width-lg: 32rem;
  --max-width-xl: 36rem;
  --max-width-2xl: 42rem;
  --max-width-3xl: 48rem;
  --max-width-4xl: 56rem;
  --max-width-5xl: 64rem;
  --max-width-6xl: 72rem;
  --max-width-7xl: 80rem;
  --min-width-0: 0;
  --min-width-1: 0.25rem;
  --min-width-2: 0.5rem;
  --min-width-3: 0.75rem;
  --min-width-4: 1rem;
  --min-width-5: 1.25rem;
  --min-width-6: 1.5rem;
  --min-width-7: 1.75rem;
  --min-width-8: 2rem;
  --min-width-9: 2.25rem;
  --min-width-10: 2.5rem;
  --min-width-11: 2.75rem;
  --min-width-12: 3rem;
  --min-width-14: 3.5rem;
  --min-width-16: 4rem;
  --min-width-20: 5rem;
  --min-width-24: 6rem;
  --min-width-28: 7rem;
  --min-width-32: 8rem;
  --min-width-36: 9rem;
  --min-width-40: 10rem;
  --min-width-44: 11rem;
  --min-width-48: 12rem;
  --min-width-52: 13rem;
  --min-width-56: 14rem;
  --min-width-60: 15rem;
  --min-width-64: 16rem;
  --min-width-72: 18rem;
  --min-width-80: 20rem;
  --min-width-96: 24rem;
  --opacity-0: 0;
  --opacity-5: 0.05;
  --opacity-10: 0.1;
  --opacity-15: 0.15;
  --opacity-20: 0.2;
  --opacity-25: 0.25;
  --opacity-30: 0.3;
  --opacity-35: 0.35;
  --opacity-40: 0.4;
  --opacity-45: 0.45;
  --opacity-50: 0.5;
  --opacity-55: 0.55;
  --opacity-60: 0.6;
  --opacity-65: 0.65;
  --opacity-70: 0.7;
  --opacity-75: 0.75;
  --opacity-80: 0.8;
  --opacity-85: 0.85;
  --opacity-90: 0.9;
  --opacity-95: 0.95;
  --opacity-100: 1;
  --screens-xs: 25rem;
  --screens-sm: 40rem;
  --screens-md: 48rem;
  --screens-lg: 64rem;
  --screens-xl: 80rem;
  --screens-2xl: 96rem;
  --screens-3xl: 120rem;
  --skew-0: 0deg;
  --skew-1: 1deg;
  --skew-2: 2deg;
  --skew-3: 3deg;
  --skew-6: 6deg;
  --skew-12: 12deg;
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-px: 0.0625rem;
  --spacing-0-5: 0.125rem;
  --spacing-1-5: 0.375rem;
  --spacing-2-5: 0.625rem;
  --spacing-3-5: 0.875rem;
  --width-0: 0;
  --width-1: 0.25rem;
  --width-2: 0.5rem;
  --width-3: 0.75rem;
  --width-4: 1rem;
  --width-5: 1.25rem;
  --width-6: 1.5rem;
  --width-7: 1.75rem;
  --width-8: 2rem;
  --width-9: 2.25rem;
  --width-10: 2.5rem;
  --width-11: 2.75rem;
  --width-12: 3rem;
  --width-14: 3.5rem;
  --width-16: 4rem;
  --width-20: 5rem;
  --width-24: 6rem;
  --width-28: 7rem;
  --width-32: 8rem;
  --width-36: 9rem;
  --width-40: 10rem;
  --width-44: 11rem;
  --width-48: 12rem;
  --width-52: 13rem;
  --width-56: 14rem;
  --width-60: 15rem;
  --width-64: 16rem;
  --width-72: 18rem;
  --width-80: 20rem;
  --width-96: 24rem;
  --width-0-5: 0.125rem;
  --width-1-5: 0.375rem;
  --width-2-5: 0.625rem;
  --width-3-5: 0.875rem;
  --width-px: 0.0625rem;
  --radius: var(--border-radius-default, 0.25rem);
}
