@import 'tailwindcss';

@import './base/index.css';
@import './components/index.css';

/* bootstrap grid to tailwind plugin */
@plugin 'tailwind-bootstrap-grid' {
  container_max_widths:
    'sm', '576px', 'md', '768px', 'lg', '992px', 'xl', '1200px', '2xl', '1400px';
}

/* preload tailwind-bootstrap-grid utility classes; */
/* responsive classes are in base/tailwind-bootstrap-grid */
@source inline("col-{1..12}");
@source inline("offset-{1..12}");
