@import '../assets/styles/globals.css';

@import 'tailwindcss';

@config '../assets/tailwind.config.cjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-box-trim-top {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-box-trim */

  /* Trim top (from top to capital letters) */
  text-box: trim-start cap;
}

@utility text-box-trim-bottom {
  /* Trim bottom (from bottom to descenders) */
  text-box: trim-end text;
}

@utility text-box-trim-bottom-baseline {
  /* Trim bottom baseline (from bottom to baseline) */
  text-box: trim-end text alphabetic;
}

@utility text-box-trim-both {
  /* Trim both (trim top + trim bottom) */
  text-box: trim-both cap text;
}

@utility text-box-trim-both-baseline {
  /* Trim both baseline (trim top + trim bottom baseline) */
  text-box: trim-both cap alphabetic;
}

@utility position-left {
  @apply text-left;
}

@utility position-center {
  @apply text-center;
}

@utility position-right {
  @apply text-right;
}

@utility indent-top {
  @apply mt-8 @md:mt-16;
}

@utility indent-bottom {
  @apply mb-8 @md:mb-16;
}

@utility indent {
  @apply px-8 @md:px-16;
}

@utility text-shadow {
  --text-shadow-offset-x: 0;
  --text-shadow-offset-y: 0;
  --text-shadow-blur: var(--blur-default);
  --text-shadow-color: rgba(0, 0, 0, 1);
  text-shadow: var(--text-shadow-offset-x) var(--text-shadow-offset-y) var(--text-shadow-blur)
    var(--text-shadow-color);
}

@utility text-shadow-blur-none {
  --text-shadow-blur: var(--blur-none);
}

@utility text-shadow-blur-sm {
  --text-shadow-blur: var(--blur-sm);
  --text-shadow-blur: var(--blur-default);
}

@utility text-shadow-blur-md {
  --text-shadow-blur: var(--blur-md);
}

@utility text-shadow-blur-lg {
  --text-shadow-blur: var(--blur-lg);
}

@utility text-shadow-blur-xl {
  --text-shadow-blur: var(--blur-xl);
}

@utility text-shadow-blur-2xl {
  --text-shadow-blur: var(--blur-2xl);
}

@utility text-shadow-blur-3xl {
  --text-shadow-blur: var(--blur-3xl);
}

@utility fade-to-transparent {
  mask-image: linear-gradient(
    to var(--fade-direction),
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 0) 100%
  );
}

@utility fade-to-transparent-right {
  --fade-direction: right;
}

@utility fade-to-transparent-top {
  --fade-direction: top;
}

@utility fade-to-transparent-left {
  --fade-direction: left;
}

@utility fade-to-transparent-bottom {
  --fade-direction: bottom;
}

@utility ck-content {
  ul,
  ol {
    all: revert;
  }
}

@utility vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  text-orientation: mixed;
  height: 100%;
}

@layer base {
  * {
    @apply border-border;
    font-family: var(--font-body);
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 h5,
  .h5 h6,
  .h6 {
    font-family: var(--font-heading);
    @apply font-light leading-tight;
  }

  h1,
  .h1 {
    @apply text-6xl @md:text-8xl;
  }
  h2,
  .h2 {
    @apply text-5xl @md:text-7xl;
  }
  h3,
  .h3 {
    @apply text-4xl @md:text-5xl;
  }
  h4,
  .h4 {
    @apply text-2xl @md:text-3xl;
  }
  h5,
  .h5 {
    @apply text-xl @md:text-2xl;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
  main {
    @apply text-xl;
  }
}
